@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-inter);
  }
}

@layer components {
  .Button {
    @apply rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
  }

  .Button__link {
    @apply text-sm font-semibold leading-6 text-gray-900;
  }

  .Button__border {
    @apply inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-medium text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50;
  }

  .Form-title {
    @apply text-base font-semibold leading-7 text-gray-900;
  }

  .Form-description {
    @apply mt-1 text-sm leading-6 text-gray-600;
  }

  .Form-label {
    @apply block text-sm font-medium leading-6 text-gray-900;
  }

  .Form-input {
    @apply block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }

  select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    print-color-adjust: exact;
    appearance: none;
    -webkit-appearance: none;
  }
}

.Dynamic-list {
  view-transition-name: dynamiclist;
}

.Field-name {
  view-transition-name: fieldname;
}
